@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f5f7;
  color: #0f172a;
}
